[data-md-color-scheme="computacenter-light"] {
    --md-primary-fg-color:        #009DDC;
    --md-primary-fg-color--light: #009DDC;
    --md-primary-fg-color--dark:  #24387F;
  }

[data-md-color-scheme="computacenter-light"] img[src$="#only-dark"],
[data-md-color-scheme="computacenter-light"] img[src$="#gh-dark-mode-only"] {
    display: none; /* Hide dark images in light mode */
}

[data-md-color-scheme="computacenter-dark"] img[src$="#only-light"],
[data-md-color-scheme="computacenter-dark"] img[src$="#gh-light-mode-only"] {
  display: none; /* Hide light images in dark mode */
}